name: rizz_assistant
description: An AI-powered conversation co-pilot that understands chat context and generates stylistically-controlled replies using Gemini.
publish_to: 'none'

version: 0.1.0+1

environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter

  http: ^1.2.1
  provider: ^6.1.2
  flutter_dotenv: ^5.1.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
